h1,
h2 {
    color: rgb(128, 0, 0);
}

p {
    color: black;
    font-size: 20px;
}

h1,
h2,
p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

ul,
ol,
li {
    text-align: center;
    list-style-position: inside;
}